//  Left side of the screen

.left-side {
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;

    #drawing_controls {
        position: fixed;
        top: 0;
        left: 0;
        background: lightgray;
        padding: .25em;
        height: auto;
        margin: .5em;
        flex-grow: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.25em;
        z-index: 10000;

        .drawing-color-button {
            width: 1em;
            height: 1em;
            background: transparent;
            opacity: 0.75;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 0.9;
                width: 1.1em;
                height: 1.1em;                
            }

            &.btn_on {
                opacity: 1 !important;
                width: 1.2em;
                height: 1.2em;
            }
        }

        #btn_image_color_black {
            background: black;
        }
        #btn_image_color_white {
            background: white;
        }
        #btn_image_color_red {
            background: red;
        }
        #btn_image_color_green {
            background: green;
        }
        #btn_image_color_blue {
            background: blue;
        }
        #btn_image_color_yellow {
            background: yellow;
        }
        #btn_image_color_yellowgreen {
            background: yellowgreen;
        }          
    }
    
    #preview {
        position: absolute;
        top: 8px;
        right: 8px;
        border: 3px solid white;
        padding: 5px;
        background: rgba(120,120,120,0.75);
        width: auto;
        height: auto;
        max-width: 320px;
        max-height: 240px;
        min-width: 160px;
        min-height: 100px;          
        display: grid;
        grid-template-rows: 20px 1fr;
        grid-template-columns: 1fr 20px;
        z-index: 1500;

        img, video, audio {
            margin: auto;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            max-width: 100%;
            max-height: 100%;
        }

        audio {
            border: none;
            height: auto;
            width: 320px;
        }
      
        #preview-close {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-row-end: 3;            
            width: 20px;
            height: 20px;
            color: white;
            opacity: .75;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            z-index: 1500;
            cursor: pointer;
            background: darkgray;

            &:hover {
                opacity: 1;
            }            
        }
    }

    #monitor-wrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        // position: relative;
        background:black;

        #video-monitor {
            width: 100%;
            height: 100%;
            object-fit: contain;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            z-index: 1000;
            cursor: crosshair;
        }
    }

    #asset_notes {
        width: 100%;
    }
}