//  Left side of the screen

.left-side {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    height: 100%;

    #monitor-wrapper {
        width: 100%;
        height: auto;
        overflow: hidden;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        background:black;

        #video-monitor {
            width: 100%;
            height: 100%;
            object-fit: contain;
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            z-index: 1000;
            cursor: crosshair;

            &.text {
                cursor: text;
            }
        }
    }

    #notes {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        resize: none;
    }    

}