@import "./fontawesome/fontawesome";
@import "./fontawesome/solid.scss";
@import "./dom";
@import "./popups";
@import "./spinner";
@import "./left";
@import "./right";

.hidden {
    display: none !important;
}

.mainwindow {
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    z-index: 100;
    user-select: none;
}